@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #4361EE;
        --color-secondary: 111 114 185;
        --color-ternary: 333deg 100% 73%;
        --filter-blur-color: 0, 0, 0, 0.3;
        --backdrop-blur-color: 0, 0, 0, 0.5;
    }

    h1 {
        /* font-size: 2rem; */
        @apply text-6xl text-center;
    }
}

@layer components {
    .btn {
        @apply px-4 py-2 border-2 border-slate-800 rounded-lg;
    }

    .btn-success {
        @apply bg-blue-600 hover:bg-blue-500 text-white;
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-500 text-white;
    }

    .btn-hover {
        /* @apply hover:bg-blue-600; */
        /* padding: theme(spacing.1); */
        padding: 0 theme('spacing[1.1]');
    }
}




